#root {
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.navbar-container {
  display: flex;
  width: 250px;
}

nav {
  position: fixed;
  background-color: #ff9f19;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 24px;
  padding: 12px 16px;
  display: block;
}

.nav-link:hover {
  background-color: rgba(255,255,255,0.2);
  color: rgb(255, 119, 0);
}


body {
  padding-top: 0;
  padding-left: 250px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
